
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2d6a4f;
  margin-top: 50px;
}

h4 {
  font-size: 1.5em;
  color: #4c9f70;
}

h6 {
  color: #333;
}

/* Container for the login form */
.log-in {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #2d6a4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #218c57;
}

/* Image link container */
.image {
  margin-top: 20px;
}

.image a {
  display: inline-block;
  text-decoration: none;
  background-color: #2d6a4f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.image a:hover {
  background-color: #218c57;
}
